<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Meme Generator</h1>
<form method="POST" action="/results">
<input type="radio" name="meme_radio_selection" value="/images/Success-Kid.jpg">Succcess Kid
<br>
<input type="radio" name="meme_radio_selection" value="/images/Fry.jpg">Fry
<br>
<input type="radio" name="meme_radio_selection" value="/images/pepe.jpg">Pepe
<br>
<input type="radio" name="meme_radio_selection" value="/images/Dos_Equis.jpg">The Most Interesting Man in the World
<br>
<input type="radio" name="meme_radio_selection" value="/images/Y-U-No.jpg">Y U No
<br>
Top text:<br>
<input type="text" name="text1" value="text1">
<br>
Bottom text:<br>
<input type="text" name="text2" value="text1">
  
<input type="submit" value="Continue">
</form>
</body>
</html>