<img src="<%= @meme_radio_selection %>" height="500" width="500">

<h1>Write your text</h1>
<form method="POST" action="/results">
Top text:<br>
<input type="text" name="text1" value="text1">
<br>
Bottom text:<br>
<input type="text" name="text2" value="text1">
<input type="submit" value="Continue">
</form>

